extends ../layout.pug

block prepend styles
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
    div(class='breadcrumb')
        li= title
    form(id='cargo-add-form' name='cargo-add-form' class='form-inline' action='')
        div(class='form-group')
            div(class='col-md-3')
                label(for='code') Код
            div(class='col-md-9')
                input(id='code' name='code' required='required' type='number' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-3')
                label(for='name') Назва
            div(class='col-md-9')
                input(id='name' name='name' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-3')
                label(for='mass') Вага
            div(class='col-md-9')
                input(id='mass' type='number' name='mass' value='' class='form-control')
        div(class='form-group')
            div(class='col')
                button(id='submit' type='submit' class='btn btn-primary') Створити
        div(class='form-group')
            div(class='col')
                button(id='update' type='submit' class='btn btn-primary hidden' style={margin: '10px'}) Оновити
        div(class='form-group')
            div(class='col')
                button(id='delete' class='btn btn-primary hidden') Видалити
        div.list-wrapper
            table(id='cargo-list')
block append scripts
    script(src='/static/js/models/cargo.js')
    script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='/static/js/views/cargo.js')