extends ../layout.pug

block prepend styles
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
    div(class='breadcrumb')
        li= title
    form(id='planets-add-form' name='planets-add-form' class='form-inline' action='')
        div(class='form-group')
            div(class='col-md-3')
                label(for='name') Назва
            div(class='col-md-9')
                input(id='name' name='name' required='required' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-3')
                label(for='mass') Маса
            div(class='col-md-9')
                input(id='mass' type='number' name='mass' value='' class='form-control')
        div(class='form-group')
             div(class='col-md-3')
                 label(for='capacity') Місткість
             div(class='col-md-9')
                  input(id='capacity' type='number' name='capacity' value='' class='form-control')
        div(class='form-group')
            div(class='col')
                button(id='submit' type='submit' class='btn btn-primary') Створити
        div(class='form-group')
            div(class='col')
                button(id='update' type='submit' class='btn btn-primary hidden' style={margin: '10px'}) Оновити
        div(class='form-group')
            div(class='col')
                button(id='delete' class='btn btn-primary hidden') Видалити
        div.list-wrapper
            table(id='planets-list')
    div(class='breadcrumb')
        li= title2
    div.list-wrapper
        table(id='planets2-list')
block append scripts
    script(src='/static/js/models/planets.js')
    script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='/static/js/views/planets.js')
