extends ../layout.pug

block prepend styles
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
    div(class='breadcrumb')
        li= title
    form(id='planets-add-form' name='planets-add-form' class='form-inline' action='')
        div(class='form-group')
            div(class='col-md-3')
                label(for='name') Name
            div(class='col-md-9')
                input(id='name' name='name' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-3')
                label(for='mass') Mass
            div(class='col-md-9')
                input(id='mass' name='mass' value='' class='form-control')
        div(class='form-group')
             div(class='col-md-3')
                 label(for='capacity') Capacity
             div(class='col-md-9')
                  input(id='capacity' name='capacity' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-12')
                button(type='submit' class='btn btn-primary') Create
        div.list-wrapper
            table(id='planets-list')
block append scripts
    script(src='/static/js/models/planets.js')
    script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='/static/js/views/planets.js')
