extends ../layout.pug

block prepend styles
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
    div(class='breadcrumb')
        li= title
    form(id='stationsOnOrbits-add-form' name='stationsOnOrbits-add-form' class='form-inline' action='')
        div(class='form-group')
            div(class='col-md-3')
                label(for='station') Станція
            div(class='col-md-9')
                input(id='station' name='station' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-3')
                label(for='planet') Планета
            div(class='col-md-9')
                input(id='planet' name='planet' value='' class='form-control')
        div(class='form-group')
            div(class='col')
                button(id='submit' type='submit' class='btn btn-primary') Створити
        div(class='form-group')
            div(class='col')
                button(id='update' type='submit' class='btn btn-primary hidden') Оновити
        div(class='form-group')
            div(class='col')
                button(id='delete' class='btn btn-primary hidden') Видалити
        div.list-wrapper
            table(id='stationsOnOrbits-list')
block append scripts
    script(src='/static/js/models/stationsOnOrbits.js')
    script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='/static/js/views/stationsOnOrbits.js')
